/*global css style --> more inline styles inside the various .html files*/
:root{
    /*here global style*/
    --white: #F5F5F0;
    --black: #121212;
    --primary: #440eb3;
    --primary-light: #8f8AEB;
    --primary-dark: #2E2369;
    --gray: #A3A3A3;
}

/*---DECLARE FONTS---*/

.ibm-plex-serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/* Define COLORS */

.text-color{
    color: var(--black);
}

.primary-color{
    color: var(--primary);
}

/* Define LOGO */

.logo {
    display: flex;
    flex-direction: row;
    max-width: 14.214rem;
    height: 3rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    aspect-ratio: 199/42;
}

.logo img{
    flex: 1 0 0;
    align-self: stretch;
    transition: transform 2s ease-in-out;
}

.logo:hover img{
    transform: rotate(360deg);
}

.logotype {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.125rem;
}

/* DEFINE BODY */

body {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-size: 2rem;
    background-color: var(--white);
    margin: 0;
}

/* MENU */

.menu {
    padding: 10rem 15%;
    line-height: 115%;
    align-items: center;
}

.menu hr{
    border: 0.5px solid var(--gray);
    width: 100%;
    margin: 0 0 3rem 0;
}