/*global css style --> more inline styles inside the various .html files*/
:root {
  /*here global style*/
  --white: #f5f5f0;
  --black: #121212;
  --primary: #440eb3;
  --primary-light: #8f8aeb;
  --primary-dark: #2e2369;
  --gray: #a3a3a3;
}

@font-face {
  font-family: "IBM Plex Serif Light";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/IBMPlexSerif-Light.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Serif Regular";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/IBMPlexSerif.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Bold";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

body {
  font-family: "IBM Plex Serif Regular", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  background-color: var(--white);
}

#chart-container {
  max-width: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
